<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOMEN TROUSERS</title>
  <link rel="stylesheet" href="wtrousers.component.css">
  <style>
    h3 {
      text-align: center
    }

    p {
      text-align: center;
    }
  </style>
</head>

<body>


  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/9.jpg" alt="private">
      <h3>TROUSERS</h3>
      <p>ZW PREMIUM ‘80S SKINNY BERING BLUE JEANS</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/10.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>SKINNY JEANS</h3>
            <p>The ‘80s Skinny in Bering Blue.</p>
            <p>Faded mid waist skinny jeans with a five-pocket design and zip fly and metal top button fastening.</p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>MORE DETAILS</h3>
            <p>
              In a high rise and fitted through with the leg with a skinny ankle, these authentic-style skinny jeans can be dressed up or down.
              Regular to fit inside leg 29" / 74cm.
              Long to fit inside leg 31" / 79cm.
              XL Tall to fit inside leg 33" / 84cm.
              94% Cotton, 5% Elastomultiester, 1% Elastane.
            </p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/11.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/12.jpg" alt="private">
      </div>

    </div>
  </div>

</body>

</html>
