<!doctype html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEN</title>
  <link rel="stylesheet" href="men.component.css">
  <style>

    h3 {
      text-align: center
    }
  </style>
</head>

<body>
  <!----------------------------------------------------------------->
  <!------------------------header div------------------------------->
  <!----------------------------------------------------------------->

  <div class="gr">
    <div class="u_1 header">
      <h1>MEN</h1>
    </div>
  </div>

  <!----------------------------------------------------------------->
  <!------------------------First content div------------------------>
  <!----------------------------------------------------------------->
  <div class="gr">
    <!--------First 3 categories------1/3 left unit----------------------------------->
    <div class="u_1_2 ">
      <div class="pad ">

        <div class="content u_1 pad">
          <h3>TROUSERS</h3>
          <p><i> $79.90 </i></p>
          <p>Upgrade your everyday line-up with our edit of men's trousers</p>
        </div>
        <div class="content u_1 ">
          <img src="assets/images/7.jpg" alt="private">
        </div>
        <div class="pad">
          <a routerLink="/mtrousers" button class="button"> Trousers</a>
        </div>
      </div>
    </div>
    <div class="u_1_2 ">
      <div class="pad ">
        <div class="content u_1 pad">
          <h3>SUITS</h3>
          <p><i> $150.00 </i></p>
          <p>Looks that’s refined yet simple, you can’t go wrong with a classic suit</p>
        </div>

        <div class="content u_1 ">
          <img src="assets/images/3.jpg" alt="private">
        </div>
        <div class="pad">
          <a routerLink="/msuits" button class="button"> Suits</a>
        </div>
      </div>
    </div>


    <!----------------------------------------------------------------->
    <!------------------------Second content div------------------------>
    <!----------------------------------------------------------------->
    <div class="gr">
      <!--------Second 3 categories------1/3 left unit----------------------------------->
      <div class="u_1_2 ">
        <div class="pad ">

          <div class="content u_1 pad">
            <h3>FOOTWEAR</h3>
            <p><i> $115.00 </i></p>
            <p> Your shoes can say a lot about your character</p>
          </div>
          <div class="content u_1 ">
            <img src="assets/images/2.jpg" alt="private">
          </div>
          <div class="pad">
            <a routerLink="/mfootwear" button class="button"> Shoes</a>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 pad">
            <h3>JACKETS</h3>
            <p><i> $95.90 </i></p>
            <p>Staying warm never looked so good</p>
          </div>
          <div class="content u_1 ">
            <img src="assets/images/19.jpg" alt="private">
          </div>
          <div class="pad">
            <a routerLink="/mjackets" button class="button"> Jackets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
