<!doctype html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEN'S SUITS</title>
    <link rel="stylesheet" href="msuits.component.css">
    <style>
        h3 {
            text-align: center
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>


  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/17.jpg" alt="private">
      <h3>SUITS</h3>
      <p>Blazer with a notched lapel collar and a detachable pin detail.</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/18.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>TEXTURED SUIT</h3>
            <p>
              Blazer with a lapel collar, long sleeves and decorative buttons on the cuffs. Featuring a
              chest welt pocket, flap hip pockets, inside pockets, a double back vent and front button
              fastening.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>MORE DETAILS</h3>
            <p>
              Cropped slim fit trousers. Featuring front pockets, rear jetted pockets, turn-up hems and zip
              fly and top button fastening.
            </p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/19.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/20.jpg" alt="private">
      </div>

    </div>
  </div>
</body>

</html>
