<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEN TROUSERS</title>
  <link rel="stylesheet" href="mtrousers.component.css">
  <style>
    h3 {
      text-align: center
    }

    p {
      text-align: center;
    }
  </style>
</head>

<body>

  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/25.jpg" alt="private">
      <h3>TROUSERS</h3>
      <p>Tech Fleece</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/27.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>MAGNIFICENT LOOK</h3>
            <p>Ready for cooler weather, the Nike Sportswear Tech Fleece Joggers are made from a double-sided spacer fabric that packs in the heat without adding extra weight.</p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>PRODUCT DETAILS</h3>
            <p>
              Slim fit for a tailored feel
              / Ribbed cuffs and a tapered leg design
              / Body: 66% cotton/34% polyester. Pocket bag, palm side: 69% cotton/31% polyester. Pocket bag, knuckle side: 100% cotton.
              / Machine wash
              / Imported
              / Colour Shown: Light Bone/Black
              / Style: CU4495-072
              / Country/Region of Origin: Cambodia,China
            </p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/26.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/28.jpg" alt="private">
      </div>

    </div>
  </div>


</body>

</html>
