<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="homepage.component.css">
</head>
<body>
  <!---------------------------------------------------------------->
  <!------------------------menu div-------------------------------->
  <!---------------------------------------------------------------->

  <!----------------------------------------------------------------->
  <!------------------------image div-------------------------------->
  <!----------------------------------------------------------------->
  <div class="gr border_line">
    <div class="u_1">
      <img src="assets/images/1.jpg" alt="Vitage Car picture one">
    </div>
  </div>
  <!----------------------------------------------------------------->
  <!------------------------header div------------------------------->
  <!----------------------------------------------------------------->
  <div class="gr">
    <div class="u_1 header">
      <h1>Clothing Store</h1>
    </div>
  </div>
  <!----------------------------------------------------------------->
  <!------------------------first content div------------------------>
  <!----------------------------------------------------------------->
  <div class="gr">
    <!--------------1/2 left unit----------------------------------->
    <div class="u_1_2 ">
      <div class="pad ">
        <div class="content u_1 ">
          <img src="assets/images/15.jpg" alt="private">
        </div><br /><br />

        <div class="content u_1 ">
          <h3>KEEP IT SIMPLE</h3>
          <p> BE COMFORTABLE WITH WHAT YOU WEAR </p>

        </div>
      </div>
    </div>
    <!--------------1/2 right unit---------------------------------->
    <div class="u_1_2">
      <div class="pad ">
        <div class="content u_1 ">
          <img src="assets/images/14.jpg" alt="private">
        </div>
        <div class="content u_1 ">
          <h3>Choose Your Style</h3>
          <p> Matching your clothing with our Designs </p>
        </div>
        <div class="content u_1 ">
          <img src="assets/images/16.jpg" alt="private">
        </div>
        <div class="content u_1 ">
          <h3>For Every Occasion</h3>
          <p> Suiting your Style with our clothes </p>

        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------------------------------->
  <!------------------------Banner------------------------------------->
  <!------------------------------------------------------------------->
  <app-banner></app-banner>

  <!------------------------footer div------------------------------------->
  <!----------------------------------------------------------------------->
  <div class="gr">
    <div class="u_1">
      <div class="footer">
        <div class="pad">
          <div class="pad">
            <h3>Discover us</h3>
            <p>Contact</p>
            <p>About the programmer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
