<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENING GOWNS</title>
  <link rel="stylesheet" href="weveninggowns.component.css">
  <style>
    h3 {
      text-align: center
    }

    p {
      text-align: center;
    }
  </style>
</head>

<body>

  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/29.jpg" alt="private">
      <h3>EVENING GOWNS</h3>
      <p>Maxi dress in red</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/30.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>CHOOSE YOUR STYLE</h3>
            <p>Wear somthing that is comfotable and beautiful at the same time</p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>PRODUCT DETAILS</h3>
            <p>
              Maxi dress

              If you have to dress up, dress up in this
              / Plunge neck
              / Gathered waist
              / Crossover straps
              / Zip-back fastening
              / Regular fit
              /  True to size
            </p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/31.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/32.jpg" alt="private">
      </div>

    </div>
  </div>

</body>

</html>
