<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOMEN FOOTWEAR</title>
  <link rel="stylesheet" href="wfootwear.component.css">
  <style>
    h3 {
      text-align: center
    }

    p {
      text-align: center;
    }
  </style>
</head>

<body>


  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/4.jpg" alt="private">
      <h3>RUNNING SHOES</h3>
      <p>The Nike Quest 2 combines a technical look with an ultra-breathable upper made from open-hole mesh.</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/5.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>STYLE & COMFORT</h3>
            <p>The 2-tone laces weave in and out of Flywire cables for stylish support</p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>MORE DETAILS</h3>
            <p>Colour Shown: Stone Mauve/Black/Metallic Red Bronze</p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/6.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/7.jpg" alt="private">
      </div>

    </div>
  </div>
</body>

</html>
