<!doctype html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEN FOOTWEAR</title>
    <link rel="stylesheet" href="mfootwear.component.css">
    <style>
        h3 {
            text-align: center
        }
        p{
            text-align: center;
        }
    </style>
</head>

<body>

  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/1.jpg" alt="private">
      <h3>Shoes</h3>
      <p>The Air Jordan Shoe brings full-court style and premium comfort with an iconic look</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/2.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>STYLE & COMFORT</h3>
            <p>
              A comfortable upper combines with
              cushioning for street-ready style on and off the court.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>MORE DETAILS</h3>
            <p>Colour Shown: White/Black/Gym Red.</p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/3.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/8.jpg" alt="private">
      </div>
    </div>
  </div>

</body>

</html>
