<!doctype html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEN'S JACKETS</title>
    <link rel="stylesheet" href="mjackets.component.css">
    <style>
        h3 {
            text-align: center
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>

  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/13.jpg" alt="private">
      <h3>JACKETS</h3>
      <p>The Eintracht Frankfurt Tracksuit Jacket shows everyone who you support.</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/14.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>KEEP YOU WARM</h3>
            <p><b>Benefits:</b></p>
            <p>
              Nike Dri-FIT Technology helps keep you dry and comfortable.
              / Knit fabric feels soft and slightly stretchy.
              / Team crest and colours show off your pride.
            </p>

          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>MORE DETAILS</h3>
            <p>
              <b>Product Details :</b>

              / Slim fit for a tailored feel
              / Zip pockets
              / Body: 100% polyester. Rib: 97% polyester/3% elastane.
              / Machine wash
              / Imported
              / Colour Shown: Black/University Red/White
              / Style: CQ4916-010
              / Country/Region of Origin: Thailand
            </p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/15.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/16.jpg" alt="private">
      </div>

    </div>
  </div>
</body>

</html>
