<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOMEN JACKETS</title>
  <link rel="stylesheet" href="wjackets.component.css">
  <style>
    h3 {
      text-align: center
    }

    p {
      text-align: center;
    }
  </style>
</head>

<body>


  <!-------------------------first part----------------------------->
  <div class="gr">
    <div class="u_1 pad">
      <img src="assets/pictures/21.jpg" alt="private">
      <h3>JACKETS</h3>
      <p>Sportswear Down-Fill</p>
    </div>

    <!----------------------second part---------------------------->
    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/22.jpg" alt="private">
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>KEEP YOU WARM</h3>
            <p>Sportswear Down-Fill Jacket takes the guesswork out of dressing for cold weather. Its weather-resistant shell is packed with down fill for premium warmth you can count on to help keep you comfortable when temps really drop.</p>
          </div>
        </div>
      </div>
    </div>

    <!----------------------third part------------------------>

    <div class="gr">
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <h3>PRODUCT DETAILS</h3>
            <p>
              Loose fit for a roomy feel
              / Body and lining: 100% polyester. Fill: Grey duck down.
              / Machine wash
              / Imported
              / Colour Shown: Black/Mystic Stone/White
              / Style: CU5813-010
              / Country/Region of Origin: China
            </p>
          </div>
        </div>
      </div>
      <div class="u_1_2 ">
        <div class="pad ">
          <div class="content u_1 ">
            <img src="assets/pictures/23.jpg" alt="private">
          </div>
        </div>
      </div>
    </div>

    <!--------------------Banner------------------>
    <div class="gr">
      <div class="u_1 pad">
        <img src="assets/pictures/24.jpg" alt="private">
      </div>

    </div>
  </div>

</body>

</html>
